body {
  max-width: 100vw;
  position: relative;
}

.underline {
  background-image: linear-gradient(transparent 78%, $theme-orange 10%);
}

.title {
  @extend .underline;
  display: inline-block;
  text-transform: lowercase;

  &:after {
    content: ".";
  }
}

.separator {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

// Section
.header-section {
  position: relative;
  min-height: 100vh;
  background-color: $theme-bg-dark;
  color: #f0f8ff;
  padding-bottom: 1rem;
  overflow: hidden;

  picture {
    position: absolute;
    top: -100px;
    right: -100px;
    z-index: 1500;
  }

  header {
    padding-top: 60vh;
  }
}

.exp-section {
  header {
    @extend .col-md-4;
  }

  section {
    @extend .col-md-7;
    @extend .offset-md-1;
    padding-top: 57px;

    ul {
      padding-left: 0;
      list-style: none;

      li {
        margin-bottom: $spacer * 2;

        p:not(:last-child) {
          margin-bottom: $spacer/3;
        }

        .hashtag {
          color: $theme-orange;
        }
      }

      small {
        color: $theme-orange;
        float: right;
        line-height: 1.8rem;
      }
    }
  }
}

// Bootsrtap override
.bg-dark {
  background-color: $theme-bg-dark !important;
}

.navbar {
  padding: 0.5rem 0;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-toggler {
  padding: 0.25rem 0px;
}

.navbar-nav {
  height: 100vh;
  justify-content: center;
}

// Screen
// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
// @include media-breakpoint-up(md) {
// }

// // Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) {

// }

// // Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) {

// }
